body {
  padding: 0;
  margin: 0;
  cursor: default;
  font-family: helvetica;
  letter-spacing: 2px;
  font-weight: normal;
}

html {
  background-color: black;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}

.ht-page {
  position: relative;
  width: 100%;
}

/* Nav styling */

.ht-nav-container {
  position: fixed;
  font-size: 1vw;
  top: 0;
  left: 0;
  width: 50%;
  z-index: 10;
  mix-blend-mode: exclusion;
  color: red;
}

.ht-nav-container span {
  text-decoration: underline;
  margin-right: 10px;
}

.ht-nav-container span:hover {
  cursor: pointer;
}

.ht-no-hover:hover {
  cursor: default !important;
}

.ht-links-container {
  margin-bottom: 10px;
}

.ht-bottom-container {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  mix-blend-mode: exclusion;
  display: flex;
}

.ht-spine-container:hover {
  cursor: pointer;
}

.ht-spine-image {
  width: 100px;
}

.ht-video-image {
  width: 100px;
}

/* Pop up styling */

.ht-pop-up-container {
  position: fixed;
  width: 100vw;
  background-color: white;
  z-index: 20;
  transition: all 1s ease-in-out;
  overflow-y: scroll;
  height: 100%;
  font-size: 2.5vw;
  line-height: 3vw;
  list-style: none;
}

.ht-pop-up-container-inner {
  position: relative;
  padding: 20px 100px 20px 100px;
}

.ht-pop-up-container-inner--no-padding {
  padding: 0px;
}

.ht-pop-up-title {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@-webkit-keyframes pulse {
  0%   { opacity: 0.8; }
  50% { opacity: 0.33; }
  100% { opacity: 0.8; }
}

.ht-letter {
  animation: pulse 555ms ease infinite;
  letter-spacing: 2px;
}

.ht-letter:nth-child(2n) {
  animation: pulse 999ms ease infinite;
}

.ht-letter:nth-child(2n) {
  animation: pulse 666ms ease infinite;
}

.ht-letter:nth-child(3n) {
  animation: pulse 555ms ease infinite;
}

.ht-letter:nth-child(4n) {
  animation: pulse 444ms ease infinite;
}

.ht-letter:nth-child(5n) {
  animation: pulse 333ms ease infinite;
}

.ht-letter:nth-child(6n) {
  animation: pulse 222ms ease infinite;
}

.ht-letter:nth-child(7n) {
  animation: pulse 555ms ease infinite;
}

.ht-letter:nth-child(8n) {
  animation: pulse 999ms ease infinite;
}

.ht-letter:nth-child(9n) {
  animation: pulse 888ms ease infinite;
}

.ht-letter:nth-child(11n) {
  animation: pulse 777ms ease infinite;
}

.ht-pop-up-text {
  margin-bottom: 30px;
}

.ht-pop-up-text--indent {
  text-indent: 50px;
}

.ht-pop-up-red {
  color: red;
  text-decoration: underline;
}

.ht-pop-up-italic {
  font-style: italic;
}

.ht-pop-up-container--about {
  top: 0;
  left: -200vw;
}

.ht-pop-up-container--publication {
  top: 200vh;
  left: 0;
}

.ht-pop-up-container--texts {
  top: 0;
  left: 200vw;
}

.ht-pop-up-container--show {
  position: fixed;
  left: 0;
  top: 0;
}

.ht-close-container {
  font-size: 2.5vw;
  line-height: 3vw;
  font-weight: lighter;
  color: red;
}

.ht-close-container--about {
  position: fixed;
  transition: all 1s ease-in-out;
  top: 20px;
  right: 200vw;
}

.ht-close-container--about--show {
  position: fixed;
  right: 40px;
  top: 20px;
}

.ht-close-container--publication {
  position: fixed;
  transition: all 1s ease-in-out;
  top: 200vh;
  right: 40px;
}

.ht-close-container--publication--show {
  position: fixed;
  right: 40px;
  top: 20px;
}

.ht-close-container--texts {
  position: fixed;
  transition: all 1s ease-in-out;
  top: 20px;
  right: -200vw;
}

.ht-close-container--texts--show {
  position: fixed;
  right: 40px;
  top: 20px;
}

.ht-close-container:hover {
  cursor: pointer;
}

.ht-video-margin {
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px 3px #b9b9b9;
  -moz-box-shadow: 0px 0px 10px 3px #B9B9B9;
  box-shadow: 0px 0px 10px 3px #b9b9b9;
}

.ht-video-container {
  width: 50%;
  margin: 0 25%;
  padding-bottom: 30px;
}

.ht-video-container--extra-margin {
  padding: 30px 0;
}

.ht-annotation-text {
  font-size: 1vw;
  text-align: center;
  margin-top: 10px;
}

.ht-summerboy-video-container {
  position: fixed;
  height: 100%;
  width: 60%;
  margin: 0 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  mix-blend-mode: exclusion;
  opacity: 0;
}

.ht-summerboy-video-container--show {
  opacity: 1;
}

#ht-summerboy-video {
  width: 100%;
  z-index: 1000;
}


/* Publication styling */

.ht-spreads-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: 5%;
}

.ht-spread-image {
  width: 48%;
  border: 0.2px black solid;
  margin-bottom: 30px;
}

/* Background images styling */

.ht-background-image {
  opacity: 100%;
  mix-blend-mode: exclusion;
}

.ht-background-image--minus {
  margin-top: -200px;
}

.ht-background-image--minus-big {
  margin-top: -400px;
}

/* Slider */

.ht-slider-container {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;

}

.ht-sider-container-inner {
  width: 900px;
  background-color: white;
  padding: 50px;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 20px;
}

#slider {
  position: relative;
  overflow: hidden;
  width: 900px;
  z-index: 1000;
  display: block;
  margin: 0 auto;
  border: 2px solid black;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  width: 900px;
  height: 600px;
  text-align: center;
}

a.control-prev, a.control-next {
  position: absolute;
  display: block;
  padding: 40px;
  color: red;
  text-decoration: none;
  font-size: 50px;
  cursor: pointer;
  z-index: 1000;
}

a.control-prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}

a.control-next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}

@media only screen and (min-device-width: 1150px) and
(max-device-width: 1380px) and
(-webkit-min-device-pixel-ratio: 2) {

}

/* Mobile View */

@media only screen and (min-device-width: 320px) and
(max-device-width: 480px) and
(-webkit-min-device-pixel-ratio: 2) {

  /* Nav styling */

  .ht-nav-container {
    width: 100%;
    font-size: 28px;
  }
}
