body {
  padding: 0;
  margin: 0;
  cursor: default;
  font-family: helvetica;
  letter-spacing: 2px;
  font-weight: normal;
}

html {
  background-color: black;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
}

.ht-page {
  position: relative;
  width: 100%;
}

/* Nav styling */

.ht-nav-container {
  position: fixed;
  font-size: 1vw;
  top: 0;
  left: 0;
  width: 50%;
  z-index: 10;
  mix-blend-mode: exclusion;
  color: red;
}

.ht-nav-container span {
  text-decoration: underline;
  margin-right: 10px;
}

.ht-nav-container span:hover {
  cursor: pointer;
}

.ht-no-hover:hover {
  cursor: default !important;
}

.ht-links-container {
  margin-bottom: 10px;
}

.ht-bottom-container {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  mix-blend-mode: exclusion;
  display: flex;
}

.ht-spine-image {
  width: 100px;
}

.ht-spine-image:hover {
  cursor: pointer;
}

.ht-video-image {
  width: 100px;
}

.ht-video-image:hover {
  cursor: pointer;
}

/* Pop up styling */

.ht-pop-up-container {
  position: fixed;
  width: 100vw;
  background-color: white;
  z-index: 20;
  transition: all 1s ease-in-out;
  overflow-y: scroll;
  height: 100%;
  font-size: 2.5vw;
  line-height: 3vw;
  list-style: none;
}

.ht-pop-up-container-inner {
  position: relative;
  padding: 20px 100px 20px 100px;
}

.ht-pop-up-container-inner--no-padding {
  padding: 0px;
}

.ht-pop-up-columns {
  display: flex;
  flex-direction: row;
}

.ht-pop-up-title {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ht-pop-up-text {
  margin-bottom: 30px;
}

.ht-pop-up-text--indent {
  text-indent: 50px;
}

.ht-pop-up-text--column {
  min-width: 150px;
  max-width: 150px;
  font-size: 1vw;
  line-height: 1vw;
  transition: 0.5s linear;

}

.ht-pop-up-text--column:hover {
  min-width: 300px;
  max-width: 300px;
  font-size: 2.5vw;
  line-height: 3vw;
}

.ht-pop-up-text--column li {
  margin-bottom: 20px;
}

.ht-pop-up-red {
  color: red;
  text-decoration: underline;
}

.ht-pop-up-italic {
  font-style: italic;
}

.ht-pop-up-image {
  width: 100%;
}

.ht-pop-up-image img {
  margin-bottom: 5px;
}

.ht-pop-up-image--column {
  min-width: 150px;
  max-width: 150px;
  transition: 0.5s linear;
}

.ht-pop-up-image--column:hover {
  min-width: 300px;
  max-width: 300px;
}

.ht-pop-up-image--column--last {
  padding-right: 100px;
}


.ht-pop-up-container--about {
  top: 0;
  left: -200vw;
}

.ht-pop-up-container--texts {
  top: 0;
  left: 200vw;
  overflow-x: scroll;
}

.ht-pop-up-container--show {
  position: fixed;
  left: 0;
  top: 0;
}

.ht-close-container {
  font-size: 2.5vw;
  line-height: 3vw;
  font-weight: lighter;
  color: red;
}

.ht-close-container--about {
  position: fixed;
  transition: all 1s ease-in-out;
  top: 20px;
  right: 200vw;
}

.ht-close-container--about--show {
  position: fixed;
  right: 40px;
  top: 20px;
}

.ht-close-container--publication {
  position: fixed;
  right: 0px;
  top: 0px;
  font-size: 150px;
}

.ht-close-container--texts {
  position: fixed;
  transition: all 1s ease-in-out;
  top: 20px;
  right: -200vw;
}

.ht-close-container--texts--show {
  position: fixed;
  right: 40px;
  top: 20px;
}

.ht-close-container:hover {
  cursor: pointer;
}

.ht-video-margin {
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px 3px #b9b9b9;
  -moz-box-shadow: 0px 0px 10px 3px #B9B9B9;
  box-shadow: 0px 0px 10px 3px #b9b9b9;
}

.ht-video-container {
  width: 50%;
  margin: 0 25%;
  padding-bottom: 30px;
}

.ht-video-container--extra-margin {
  padding: 30px 0;
}

.ht-annotation-text {
  font-size: 1vw;
  text-align: center;
  margin-top: 10px;
}

.ht-summerboy-video-container {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
}

.ht-summerboy-video-container-inner {
  position: relative;
  width: 60%;
  margin: 0 20%;
  border: solid black 3px;
  border-radius: 20px;
  padding: 20px;
  background-color: white;
}

.ht-summerboy-video-container--show {
  opacity: 1;
  pointer-events: all;
}

#ht-summerboy-video {
  width: 100%;
  z-index: 1000;
}

.ht-summerboy-close {
  position: absolute;
  right: 30px;
  top: 10px;
  font-size: 2.5vw;
  line-height: 3vw;
  z-index: 500;
  color: red;
  font-weight: lighter !important;
}


/* Publication styling */

.ht-spreads-scroll-container {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 50;
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

.ht-spreads-scroll-container--show {
  opacity: 1;
  pointer-events: all;
}

.ht-spreads-scroll-container-inner {
  position: fixed;
  background-color: red;
  padding: 20px;
  mix-blend-mode: color-burn;
  overflow-x: scroll;
  opacity: 0.9;
}

.ht-spread-image {
  background-color: red;
  width: 25%;
  display: flex;
  flex-direction: row;
}

.ht-spread-image img {
  padding-right: 20px;
}

/* Background images styling */

.ht-background-image {
  opacity: 100%;
  mix-blend-mode: exclusion;
}

.ht-background-image--minus {
  margin-top: -200px;
}

.ht-background-image--minus-big {
  margin-top: -400px;
}

/* Mobile View */

@media only screen and (min-device-width: 320px) and
(max-device-width: 480px) and
(-webkit-min-device-pixel-ratio: 2) {

  body {
    letter-spacing: 3px;
  }

  /* Nav styling */

  .ht-nav-container {
    width: 100%;
    font-size: 5vw;
  }

  .ht-nav-container .ht-text-container {
    display: none;
  }

  .ht-links-container {
    display: flex;
    flex-direction: column;
  }

  .ht-no-hover {
    margin-bottom: 20px;
  }

  .ht-spine-image {
    width: 200px;
  }

  .ht-video-image {
    width: 200px;
  }

  /* Pop up styling */

  .ht-pop-up-container {
    font-size: 5vw;
    line-height: 7vw;
  }

  .ht-pop-up-container-inner {
    position: relative;
    padding: 50px;
  }

  .ht-pop-up-text {
    margin-bottom: 100px;
  }

  .ht-video-container {
    width: 80%;
    margin: 0 10%;
    padding-bottom: 100px;
  }

  .ht-annotation-text {
    font-size: 2vw;
  }

  .ht-close-container {
    font-size: 10vw;
    line-height: 10vw;
  }

  .ht-pop-up-text--column {
    min-width: 200px;
    max-width: 200px;
    font-size: 2vw;
    line-height: 3vw;
    transition: 0.5s linear;
  }

  .ht-pop-up-text--column:hover {
    min-width: 400px;
    max-width: 400px;
    font-size: 6vw;
    line-height: 8vw;
  }

  .ht-pop-up-image--column--last {
    padding-right: 50px;
  }

  .ht-summerboy-video-container-inner {
    position: relative;
    width: 90%;
    margin: 0 5%;
  }

  .ht-summerboy-close {
    font-size: 5vw;
    line-height: 7vw;
  }

  /* Publication styling */

  .ht-spreads-scroll-container-inner {
    padding: 30px;
  }

  .ht-spread-image {
    width: 40%;
  }

  .ht-spread-image img {
    padding-right: 30px;
  }

  .ht-close-container--publication {
    font-size: 300px;
    top: 20px;
  }

  /* Background images styling */

  .ht-background-image--minus {
    margin-top: -100px;
  }

  .ht-background-image--minus-big {
    margin-top: -300px;
  }

}
